amqp==2.1.4
anyjson==0.3.3
appdirs==1.4.3
billiard==3.5.0.2
boto==2.43.0
celery==4.0.2
Django==1.10.6
django-celery-beat==1.0.1
django-filter==1.0.2
django-storages==1.5.1
djangorestframework==3.6.2
gunicorn==19.7.1
httplib2==0.10.3
kombu==4.0.2
Markdown==2.6.8
mysql-python==1.2.5
newrelic==2.82.0.62
packaging==16.8
protobuf==3.2.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
python-http-client==2.2.1
pytz==2017.2
rsa==3.4.2
sendgrid==3.6.5
six==1.10.0
suds-jurko==0.6
tablib==0.11.4
vine==1.1.3
